.cover{
    display: flex;

    justify-content: space-around;

    min-height: var(--min-height-cover);
    width: 100vw;

    background: green url("../img/cover.jpg") center center / cover no-repeat  border-box border-box;
    .grid{
        display: grid;

        width: var(--width-conteiner);
        min-height: var(--min-height-cover);

        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        @media screen and (max-width: 600px){
            grid-template-columns: 1fr;
            grid-template-rows: 500px auto;    
        }
        align-items: center;

        .tarjeta{
            height: 250px;
            background-color: rebeccapurple;
        }

        .img{
            display: flex;

            height: auto;

            align-self: end;
            justify-content: center;
            align-items: flex-end;

            img{
                max-width: 50%;
                height: auto;
            }
        }
    }
}