.cover{
    display: flex;

    justify-content: space-around;

    min-height: var(--min-height-cover);
    width: 100%;

    margin-bottom: 40px;

    background: green url("../img/cover.jpg") center center / cover no-repeat  border-box border-box fixed;
    .grid{
        display: grid;

        width: var(--width-conteiner);
        min-height: var(--min-height-cover);

        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        align-items: center;

        .conteiner-card{
            padding-top: 45px;
            margin-bottom: 45px;
        
            .card{
                display: flex;
    
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
    
                min-height: 370px;
                padding: 20px;
    
                background-color:#F2F2F2;
    
                border-radius: 10px;
    
                .text{
                    @include text;
                }
    
                .button{
                    @include button;
                }
            }
        }
        

        .img{
            display: flex;

            height: auto;

            align-self: end;
            justify-content: center;
            align-items: flex-end;

            img{
                max-width: 50%;
                height: auto;
            }
        }
        @media screen and (max-width: 600px){
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
        }
    }
}