.header{
    display: flex;

    height: 56px;

    justify-content: center;
    align-items: center;

    background-color:#F2F2F2;

    .isotipo{
        color: #022859;
        
        margin: 0;
        
        font-size: 30px;
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
    }
}